body {
    background-color: black;
}

h1,
h2 {
    font-family: 'Alegreya SC', serif;
}

h1 {
    color: yellow;
    text-align: center;
    font-size: 45px;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: gold;
    text-align: center;
    font-weight: bold;
    border: solid yellow 2px;
    background-color: grey;
}

p {
    color: violet;
}

.img {
    text-align: center;
    display: block;
}